Dokumentation/XML/dg11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Roland Mechling (DynaGeo) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dg="http://www.dynageo.com/xml/dg11" targetNamespace="http://www.dynageo.com/xml/dg11" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<!--================================================-->
	<!--    XML description of dynamic geometric drawings-->
	<!--    (c) 2005  Roland Mechling-->
	<!--    file format specification for EUKLID DynaGeo 2.7-->
	<!--================================================-->
	<!--======== Helper Declarations =======================-->
	<xsd:simpleType name="thex8str">
		<xsd:annotation>
			<xsd:documentation> Hex representation of a 4 byte integer number</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="$[0-9A-F]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tintpair">
		<xsd:annotation>
			<xsd:documentation> 2 Integers delimited by a semicolon</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="-?[0-9]{1,8};-?[0-9]{1,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tintlist">
		<xsd:annotation>
			<xsd:documentation> List of integers delimited by semicolons</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d*(;\d+)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tfloatpair">
		<xsd:annotation>
			<xsd:documentation> 2 float numbers delimited by a semicolon</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9\.eE+\-]*;[0-9\.eE+\-]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tfloattriple">
		<xsd:annotation>
			<xsd:documentation> 3 float numbers delimited by semicolons</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9\.eE+\-]*;[0-9\.eE+\-]*;[0-9\.eE+\-]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tintpairlist">
		<xsd:annotation>
			<xsd:documentation> List of integer pairs delimited by blanks</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="dg:tintpair"/>
	</xsd:simpleType>
	<xsd:simpleType name="tfloatpairlist">
		<xsd:annotation>
			<xsd:documentation> List of float pairs delimited by blanks</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="dg:tfloatpair"/>
	</xsd:simpleType>
	<xsd:simpleType name="tfloattriplelist">
		<xsd:annotation>
			<xsd:documentation> List of float triples delimited by blanks</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="dg:tfloattriple"/>
	</xsd:simpleType>
	<!--========= Data types ==============================-->
	<xsd:complexType name="tgeoobj">
		<xsd:annotation>
			<xsd:documentation> Abstract root object</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="appearance" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="color" type="dg:thex8str" use="optional" default="$00000000"/>
					<xsd:attribute name="pen_style" type="xsd:nonNegativeInteger" use="optional" default="0"/>
					<xsd:attribute name="line_width" type="xsd:nonNegativeInteger" use="optional" default="1"/>
					<xsd:attribute name="shape" type="xsd:nonNegativeInteger" use="optional" default="1"/>
					<xsd:attribute name="brush_style" type="xsd:nonNegativeInteger" use="optional" default="1"/>
					<xsd:attribute name="visible" type="xsd:boolean" use="optional" default="true"/>
					<xsd:attribute name="groups" type="xsd:nonNegativeInteger" use="optional" default="0"/>
					<xsd:attribute name="add_data2name" type="xsd:boolean" use="optional" default="false"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="parents" type="dg:tintlist" minOccurs="0"/>
			<xsd:element name="children" type="dg:tintlist" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="tpoint">
		<xsd:annotation>
			<xsd:documentation> Point-like objects, dimension "0"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position" minOccurs="0">
						<xsd:complexType>
							<xsd:attribute name="x" type="xsd:double" use="required"/>
							<xsd:attribute name="y" type="xsd:double" use="required"/>
							<xsd:attribute name="x_term" type="xsd:string" use="optional"/>
							<xsd:attribute name="y_term" type="xsd:string" use="optional"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="friends" type="dg:tintlist" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="quant" type="xsd:double" use="optional" default="0"/>
				<xsd:attribute name="ani_step" type="xsd:double" use="optional" default="0"/>
				<xsd:attribute name="plist_index" type="xsd:integer" use="optional" default="-1"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="torigin">
		<xsd:annotation>
			<xsd:documentation> Origin, with coord system design</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tpoint">
				<xsd:attribute name="cosys_type" type="xsd:integer" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tmulti_intersect">
		<xsd:annotation>
			<xsd:documentation> Set of intersection points</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="pointlist" type="dg:tfloatpairlist"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tline">
		<xsd:annotation>
			<xsd:documentation> Line-like objects, dimension "1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position" minOccurs="0">
						<xsd:complexType>
							<xsd:attribute name="x1" type="xsd:double" use="required"/>
							<xsd:attribute name="y1" type="xsd:double" use="required"/>
							<xsd:attribute name="x2" type="xsd:double" use="optional"/>
							<xsd:attribute name="y2" type="xsd:double" use="optional"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="label" type="xsd:string" use="optional" default="''"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ttermline">
		<xsd:annotation>
			<xsd:documentation> Lines in determined angle</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tline">
				<xsd:sequence>
					<xsd:element name="term" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tstick">
		<xsd:annotation>
			<xsd:documentation> Lines with fixed length</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tline">
				<xsd:sequence>
					<xsd:element name="length" type="xsd:double"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tcircle">
		<xsd:annotation>
			<xsd:documentation> Circle-like objects</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tline">
				<xsd:sequence>
					<xsd:element name="radius" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tarc">
		<xsd:annotation>
			<xsd:documentation> Arcs</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tcircle">
				<xsd:sequence>
					<xsd:element name="direction">
						<xsd:complexType>
							<xsd:attribute name="x3" type="xsd:double" use="required"/>
							<xsd:attribute name="y3" type="xsd:double" use="required"/>
							<xsd:attribute name="inverted" type="xsd:boolean" use="optional" default="false"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ttrace">
		<xsd:annotation>
			<xsd:documentation> Locus lines</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tline">
				<xsd:sequence>
					<xsd:element name="points" type="dg:tfloattriplelist"/>
				</xsd:sequence>
				<xsd:attribute name="trace_status" type="xsd:integer" use="optional" default="0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tconic">
		<xsd:annotation>
			<xsd:documentation> Conics</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="params">
						<xsd:complexType>
							<xsd:attribute name="a" type="xsd:double" use="required"/>
							<xsd:attribute name="b" type="xsd:double" use="required"/>
							<xsd:attribute name="c" type="xsd:double" use="required"/>
							<xsd:attribute name="d" type="xsd:double" use="required"/>
							<xsd:attribute name="e" type="xsd:double" use="required"/>
							<xsd:attribute name="f" type="xsd:double" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="points" type="dg:tfloattriplelist"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tarea">
		<xsd:annotation>
			<xsd:documentation> Areas, dimension "2"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="orientation" type="xsd:boolean"/>
					<xsd:element name="operators" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="brush_bmp" type="xsd:string" use="optional" default="''"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tpicture">
		<xsd:annotation>
			<xsd:documentation> Background pictures</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position">
						<xsd:complexType>
							<xsd:attribute name="lefttop" type="dg:tfloatpair" use="required"/>
							<xsd:attribute name="rightbottom" type="dg:tfloatpair" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="data" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ttextobj">
		<xsd:annotation>
			<xsd:documentation> Comments, name objects</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position">
						<xsd:complexType>
							<xsd:attribute name="x" type="xsd:double" use="required"/>
							<xsd:attribute name="y" type="xsd:double" use="required"/>
							<xsd:attribute name="width" type="xsd:double" use="required"/>
							<xsd:attribute name="height" type="xsd:double" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element name="startfont" minOccurs="0">
						<xsd:complexType>
							<xsd:attribute name="fontname" type="xsd:string" use="optional"/>
							<xsd:attribute name="fontsize" type="xsd:integer" use="optional"/>
							<xsd:attribute name="fontcharset" type="xsd:integer" use="optional"/>
							<xsd:attribute name="attr_bold" type="xsd:boolean" use="optional"/>
							<xsd:attribute name="attr_italic" type="xsd:boolean" use="optional"/>
							<xsd:attribute name="attr_underline" type="xsd:boolean" use="optional"/>
							<xsd:attribute name="attr_strikeout" type="xsd:boolean" use="optional"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tmeasure">
		<xsd:annotation>
			<xsd:documentation> Objects for measurements of distances and angles</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:ttextobj">
				<xsd:sequence>
					<xsd:element name="line">
						<xsd:complexType>
							<xsd:attribute name="x1" type="xsd:double" use="required"/>
							<xsd:attribute name="y1" type="xsd:double" use="required"/>
							<xsd:attribute name="x2" type="xsd:double" use="required"/>
							<xsd:attribute name="y2" type="xsd:double" use="required"/>
							<xsd:attribute name="dx" type="xsd:double" use="required"/>
							<xsd:attribute name="dy" type="xsd:double" use="required"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tterm">
		<xsd:annotation>
			<xsd:documentation> Objects to monitor values of userdefined expressions</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position">
						<xsd:complexType>
							<xsd:attribute name="x" type="xsd:double" use="required"/>
							<xsd:attribute name="y" type="xsd:double" use="required"/>
							<xsd:attribute name="width" type="xsd:integer" use="required"/>
							<xsd:attribute name="height" type="xsd:integer" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="value">
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="term" type="xsd:string" use="required"/>
									<xsd:attribute name="comment" type="xsd:string" use="optional" default="''"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="show_name" type="xsd:boolean" use="optional" default="true"/>
				<xsd:attribute name="show_term" type="xsd:boolean" use="optional" default="true"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tnumber">
		<xsd:annotation>
			<xsd:documentation> Objects to provide numbers to control other objects</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position">
						<xsd:complexType>
							<xsd:attribute name="x" type="xsd:double" use="required"/>
							<xsd:attribute name="y" type="xsd:double" use="required"/>
							<xsd:attribute name="width" type="xsd:integer" use="required"/>
							<xsd:attribute name="height" type="xsd:integer" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="value">
						<xsd:complexType>
							<xsd:attribute name="min" type="xsd:double" use="required"/>
							<xsd:attribute name="actual" type="xsd:double" use="required"/>
							<xsd:attribute name="max" type="xsd:double" use="required"/>
							<xsd:attribute name="quant" type="xsd:double" use="optional" default="0"/>
							<xsd:attribute name="ani_step" type="xsd:double" use="optional" default="0"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="show_name" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tangle">
		<xsd:annotation>
			<xsd:documentation> Decorative elements to mark angles</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dg:tgeoobj">
				<xsd:sequence>
					<xsd:element name="position">
						<xsd:complexType>
							<xsd:attribute name="x1" type="xsd:double" use="required"/>
							<xsd:attribute name="y1" type="xsd:double" use="required"/>
							<xsd:attribute name="x2" type="xsd:double" use="required"/>
							<xsd:attribute name="y2" type="xsd:double" use="required"/>
							<xsd:attribute name="x3" type="xsd:double" use="required"/>
							<xsd:attribute name="y3" type="xsd:double" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="line">
						<xsd:complexType>
							<xsd:attribute name="radius" type="xsd:double" use="required"/>
							<xsd:attribute name="reversed" type="xsd:boolean" use="optional" default="false"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tmacrocmd">
		<xsd:annotation>
			<xsd:documentation> Macro command</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Point" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="Origin" type="dg:torigin" minOccurs="0"/>
			<xsd:element name="UnityPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="PointWDC" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="PointLXL" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="DoubleIntersection" type="dg:tmulti_intersect" minOccurs="0"/>
			<xsd:element name="QuadIntersection" type="dg:tmulti_intersect" minOccurs="0"/>
			<xsd:element name="IntersectPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="MidPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="MirroredPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="MovedPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="RotatedPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="StretchedPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="Line" type="dg:tline" minOccurs="0"/>
			<xsd:element name="LineWDD" type="dg:ttermline" minOccurs="0"/>
			<xsd:element name="Perpendicular" type="dg:tline" minOccurs="0"/>
			<xsd:element name="PerpBisector" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Bisector" type="dg:tline" minOccurs="0"/>
			<xsd:element name="ParallelLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="BasisLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="MirroredLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="MovedLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="RotatedLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="StretchedLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="LineTrace" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Axis" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Ray" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Segment" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Stick" type="dg:tstick" minOccurs="0"/>
			<xsd:element name="Vector" type="dg:tline" minOccurs="0"/>
			<xsd:element name="VergingLine" type="dg:ttermline" minOccurs="0"/>
			<xsd:element name="Circle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="BasisCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="MirroredCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="MovedCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="RotatedCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="StretchedCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="CircleWDR" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="CircleTrace" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="Arc" type="dg:tarc" minOccurs="0"/>
			<xsd:element name="Polygon" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Area" type="dg:tarea" minOccurs="0"/>
			<xsd:element name="Number" type="dg:tnumber" minOccurs="0"/>
			<xsd:element name="Term" type="dg:tterm" minOccurs="0"/>
			<xsd:element name="Angle" type="dg:tangle" minOccurs="0"/>
			<xsd:element name="MeasureDistance" type="dg:tmeasure" minOccurs="0"/>
			<xsd:element name="MeasureAngle" type="dg:tmeasure" minOccurs="0"/>
		</xsd:choice>
		<xsd:attribute name="cmd_type" type="xsd:integer" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="tcmdlist">
		<xsd:annotation>
			<xsd:documentation> Contains a list of macro commands</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cmd" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dg:tmacrocmd"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tmacro">
		<xsd:annotation>
			<xsd:documentation> Contains the data of a macro</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="helptext" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cmd_list" type="dg:tcmdlist"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--======== File structures ============================-->
	<xsd:complexType name="theader">
		<xsd:annotation>
			<xsd:documentation> Contains info about author, date and production tool</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="created">
				<xsd:complexType>
					<xsd:attribute name="prog_name" type="xsd:string" use="required"/>
					<xsd:attribute name="prog_version" type="xsd:string" use="optional" default="''"/>
					<xsd:attribute name="date" type="xsd:dateTime" use="optional"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="edited" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="prog_name" type="xsd:string" use="required"/>
					<xsd:attribute name="prog_version" type="xsd:string" use="optional" default="''"/>
					<xsd:attribute name="date" type="xsd:dateTime" use="optional"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="copyright" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="sign_code" type="xsd:string" use="optional" default="0"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="twindowdata">
		<xsd:annotation>
			<xsd:documentation> Contains the viewport of the drawing and the  metrics of the screen window</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="log_window">
				<xsd:complexType>
					<xsd:attribute name="xmin" type="xsd:double" use="required"/>
					<xsd:attribute name="xmax" type="xsd:double" use="required"/>
					<xsd:attribute name="ymin" type="xsd:double" use="required"/>
					<xsd:attribute name="ymax" type="xsd:double" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="scr_window">
				<xsd:complexType>
					<xsd:attribute name="width" type="xsd:integer" use="required"/>
					<xsd:attribute name="height" type="xsd:integer" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="back_col" type="dg:thex8str" default="$00FFFFFF" minOccurs="0"/>
			<xsd:element name="startfont" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="fontname" type="xsd:string" use="optional" default="Arial"/>
					<xsd:attribute name="fontsize" type="xsd:integer" use="optional" default="12"/>
					<xsd:attribute name="fontcharset" type="xsd:integer" use="optional" default="1"/>
					<xsd:attribute name="attr_bold" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="attr_italic" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="attr_underline" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="attr_strikeout" type="xsd:boolean" use="optional" default="false"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="options" minOccurs="0">
				<xsd:complexType>
					<xsd:attribute name="LengthDecimals" type="xsd:integer" use="optional" default="3"/>
					<xsd:attribute name="AngleDecimals" type="xsd:integer" use="optional" default="1"/>
					<xsd:attribute name="SignedAngles" type="xsd:boolean" use="optional" default="true"/>
					<xsd:attribute name="DefLocLineStatus" type="xsd:integer" use="optional" default="7"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="commands" type="xsd:string" default="''" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tmacrolist">
		<xsd:annotation>
			<xsd:documentation> Contains the list of the drawing's macros</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="macro" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dg:tmacro"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tobjlist">
		<xsd:annotation>
			<xsd:documentation> Contains the list of the drawing's geometric objects</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Point" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="Origin" type="dg:torigin" minOccurs="0"/>
			<xsd:element name="UnityPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="PointWDC" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="PointLXL" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="DoubleIntersection" type="dg:tmulti_intersect" minOccurs="0"/>
			<xsd:element name="QuadIntersection" type="dg:tmulti_intersect" minOccurs="0"/>
			<xsd:element name="IntersectPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="MidPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="MirroredPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="MovedPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="RotatedPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="StretchedPoint" type="dg:tpoint" minOccurs="0"/>
			<xsd:element name="Line" type="dg:tline" minOccurs="0"/>
			<xsd:element name="LineWDD" type="dg:ttermline" minOccurs="0"/>
			<xsd:element name="Perpendicular" type="dg:tline" minOccurs="0"/>
			<xsd:element name="PerpBisector" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Bisector" type="dg:tline" minOccurs="0"/>
			<xsd:element name="ParallelLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="BasisLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="MirroredLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="MovedLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="RotatedLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="StretchedLine" type="dg:tline" minOccurs="0"/>
			<xsd:element name="LineTrace" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Axis" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Ray" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Segment" type="dg:tline" minOccurs="0"/>
			<xsd:element name="Stick" type="dg:tstick" minOccurs="0"/>
			<xsd:element name="Vector" type="dg:tline" minOccurs="0"/>
			<xsd:element name="VergingLine" type="dg:ttermline" minOccurs="0"/>
			<xsd:element name="Circle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="BasisCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="MirroredCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="MovedCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="RotatedCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="StretchedCircle" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="CircleWDR" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="CircleTrace" type="dg:tcircle" minOccurs="0"/>
			<xsd:element name="Arc" type="dg:tarc" minOccurs="0"/>
			<xsd:element name="Trace" type="dg:ttrace" minOccurs="0"/>
			<xsd:element name="Conic" type="dg:tconic" minOccurs="0"/>
			<xsd:element name="Polygon" type="dg:tline" minOccurs="0"/>
			<xsd:element name="MeasureDistance" type="dg:tmeasure" minOccurs="0"/>
			<xsd:element name="MeasureAngle" type="dg:tmeasure" minOccurs="0"/>
			<xsd:element name="Number" type="dg:tnumber" minOccurs="0"/>
			<xsd:element name="Term" type="dg:tterm" minOccurs="0"/>
			<xsd:element name="Angle" type="dg:tangle" minOccurs="0"/>
			<xsd:element name="Area" type="dg:tarea" minOccurs="0"/>
			<xsd:element name="ObjectName" type="dg:ttextobj" minOccurs="0"/>
			<xsd:element name="TextBox" type="dg:ttextobj" minOccurs="0"/>
			<xsd:element name="Picture" type="dg:tpicture" minOccurs="0"/>
		</xsd:choice>
		<xsd:attribute name="ani_source" type="xsd:nonNegativeInteger" use="optional" default="0"/>
	</xsd:complexType>
	<xsd:complexType name="tgrouplist">
		<xsd:annotation>
			<xsd:documentation> Contains a list of object groups</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="group">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:nonNegativeInteger" use="required"/>
					<xsd:attribute name="comment" type="xsd:string" use="required"/>
					<xsd:attribute name="static" type="xsd:boolean" use="optional" default="true"/>
					<xsd:attribute name="visible" type="xsd:boolean" use="optional" default="false"/>
					<xsd:attribute name="condition" type="xsd:string" use="optional" default="''"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="drawing">
		<xsd:annotation>
			<xsd:documentation> Root element of geo files</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header" type="dg:theader"/>
				<xsd:element name="windowdata" type="dg:twindowdata"/>
				<xsd:element name="macrolist" type="dg:tmacrolist" minOccurs="0"/>
				<xsd:element name="objlist" type="dg:tobjlist"/>
				<xsd:element name="grouplist" type="dg:tgrouplist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="macro">
		<xsd:annotation>
			<xsd:documentation> Root element of macro files (for macro export/import only!)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header" type="dg:theader"/>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="helptext" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cmd_list" type="dg:tcmdlist"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
